# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  scatterplot3d,
  rgl,
  MASS
)

importFrom("graphics", "arrows", "lines", "par", "persp", "plot",
             "points", "text", "title")
importFrom("stats", "cmdscale", "cor", "cov", "nlm", "pchisq", "pf",
             "prcomp", "predict", "qchisq", "rnorm", "var")

